.section,
.container,
.display-container,
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px;
  margin-top: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
